name: integration

on:
  push:
    branches: [ 'master' ]
  pull_request:
    branches: [ 'master' ]

jobs:
  perl:
    env:
      # some plugins still needs this to run their tests...
      PERL_USE_UNSAFE_INC: 0
      AUTHOR_TESTING: 1
      AUTOMATED_TESTING: 1
      RELEASE_TESTING: 1

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        perl-version:
          - '5.30'
          - '5.28'
        fatpack: [1, 0]

    container:
      image: perldocker/perl-tester:${{ matrix.perl-version }}

    steps:
      - uses: actions/checkout@v2

      - name: perl -V
        run: perl -V

      - name: Install Dependencies
        run: cpm install -g --no-test --show-build-log-on-failure --cpanfile cpanfile

      - name: integration test fatpack=${{ matrix.fatpack }}
        run: prove -vl t/integration/*.t
        env:
          USE_CPLAY_COMPILED: ${{ matrix.fatpack }}
